
html {
    font-family: sans-serif;
    font-size: 12pt;

    background-image: url(https://picsum.photos/800/600/?random);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.abschnitt {
  background: rgba(255,255,255, 0.75);
  padding: 1em;
  border-radius: 0.2rem;

  margin: 1em;
  width: 100%;
  max-width: 55em;
}

.inputElement{
  padding-left: 2em;

}
.inputElementNewLine{

  padding-top: 2em;

}

html, body {
    min-height: 100%;
}

.ueberschirft {
    color: black;
    padding-bottom: 1em;
}

.song {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;

    border: 1px solid rgba(255, 255, 255, 0.75);
}

.label {
    color: rgb(70,70,70);
}
