/*
Copyright © 2019 David Scheid
Copyright © 2019 Jonas Strube
Copyright © 2019 Tim Bayer

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/
/* 
    Created on : 29.03.2019, 18:23:26
    Author     : timba
*/
#search {
    margin-bottom: 1rem;
}

td, th {
    padding-right: 2em;
    text-align: left;
    vertical-align: baseline;
}

.headerTable {
    padding-bottom: 1em;
    font-weight: bold;
}
.headerForm {
    font-weight: bold;
}

form label {
    font-weight: normal;
}

